<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>404 Not Found</title>
    <link rel="stylesheet" href="/boards.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f6f6ef;
            padding: 20px;
        }

        .threadBody {
            background-color: #fff;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="threadBody">
        <h1>404 Not Found</h1>
        <p>Oops! It seems like you've stumbled upon a page that doesn't exist.</p>
        <p>But hey, don't be sad! Why not check out <a href="/">Freechan</a> instead?</p>
        <p>It's full of wonders waiting to be discovered!</p>
    </div>
</body>

</html>
