<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Empty Page</title>
    <link rel="stylesheet" href="/boards.css">
    <link rel="icon" type="image/x-icon" href="/favicon.png">
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f6f6ef;
            padding: 20px;
        }

        .threadBody {
            background-color: #fff;
            border-radius: 8px;
            margin-bottom: 20px;
            padding: 20px;
            box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        }
    </style>
</head>

<body>
    <div class="threadBody">
        <h1>This page is empty!</h1>
        <p>Sorry, there's nothing to see here.</p>
        <p>Why not go back to <a href="/">Freechan</a> and find something interesting?</p>
    </div>
</body>

</html>
